.Contactme {
    background-image: url('https://i.postimg.cc/qM5G9zQn/Contactme.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-block: 5rem;
}
#Contactme {
    position: relative;
    z-index: 1;
}
  .titlecont h2 {
    margin-top: 2rem;
    text-align: center;
    font-weight: 800;
    font-family: "Tajawal", sans-serif;
    font-size: 2.5rem;
    color: #121f3e;
    line-height: 4rem;
    
}
 
.user img {
    margin-inline: auto;
    display: block;
    max-width: 6rem;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.iconcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.iconcontact .iconcon {
    font-size: 2.8rem;
    line-height: 4.7rem;
    color: #223b40;
    margin-left: 2rem;
}

.iconcontact a {
    text-decoration: none;
    color: #121f3e;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.7rem;
    white-space: nowrap; /* يمنع النص من الالتفاف إلى سطر جديد */
    overflow: hidden; /* يخفي النص الزائد */
    text-overflow: ellipsis; /* يضيف علامة الحذف (...) للنص الزائد */
}
