.navbar {
    background-color: #223b40;
    padding-block: 20px;
}
.flexspacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    color: #ffffffce;
    font-size: 30px;
    font-weight: 600;
    line-height: 3.2px;
    font-family: "Tajawal", "Cairo";
    text-decoration: none;
    margin-top: 5px;
}
.navbar-brand:hover  {
    color: #fff;
    transition: 2s;
}
.navbar-brand:focus {
    color: #fff;
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-bar {
    font-size: 32px !important;
    color: #ffffffce;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-tex  {
    padding: 0 !important;
}
.navbar-bar:hover  {
    color: #fff;
    transition: 2s;
}
.navbar-bar:focus {
    color: #fff;
}
/* NavBar.css */

.list-item {
    border-bottom: 1px solid #eee;
}
.css-1853w64-MuiButtonBase-root-MuiListItemButton-root {
    transition: all 0.3s  !important;
}
.css-1853w64-MuiButtonBase-root-MuiListItemButton-root:hover {
    background-color: #223b40 !important;
    color: #ffffffce !important;
}
.css-1853w64-MuiButtonBase-root-MuiListItemButton-root:hover svg {
    color: #ffffffce;
}
.list-item-button {
    /* أنماط خاصة للزر */
    font-size: 18px;
    color: #223b40 !important;
}

.list-item-icon {
    /* أنماط خاصة للأيقونة */
    font-size: 24px;
    color: #223b40 !important;
}

@media (width < 500px) {
    .navbar-brand {
        font-size: 20px;
    }
    .navbar-bar {
        font-size: 24px !important;
    }
}
@media (width < 500px) {
    .list-item-button {
        font-size: 16px;
    
    }
    
    .list-item-icon {
        font-size: 20px;
    }
}