.navbar {
    background-color: #223b40;
}
.navbar-brand  {
    color: #ffffffce;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin-right: 0;
    font-family: "Tajawal", sans-serif;
}
.navbar-brand:hover  {
    color: #fff;
    transition: 1s;
}
.navbar-brand:focus {
    color: #fff;
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
}
.navbar-toggler:focus {
   box-shadow: none;
}
.navbar-toggler .fa-bars {
    color: #ffffffce;
    font-size: 1.6rem;
}
.navbar-toggler .fa-bars:hover {
    color: #fff;
    transition: 1s;
}
.nav-link {
    color: #ffffffce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}
.nav-link:hover{
    color: #fff;
    transition: 1s;
}
.navbar-nav {
    column-gap: 2rem;
    row-gap: 0.5rem;
}
@media (width < 768px) {
    .margintop {
        margin-top: 2.5rem;
    }
}