
.serv-section-2 {
    position: relative;
    border: 1px solid #f5f7fa;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 3rem;
}

.serv-section-2:before {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
    content: " ";
    width: 120px;
    height: 120px;
    background: #f5f7fa;
    border-bottom-right-radius: 136px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.serv-section-2-icon {
    position: absolute;
    top: 18px;
    left: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.serv-section-2-icon i {
    color: #327d6f;
    font-size: 48px;
    line-height: 65px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.serv-section-desc {
    position: relative;
}

.serv-section-2 h4 {
    color: #121f3e;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.5;
    font-family: "Tajawal", sans-serif;
    text-align: right;

}

.serv-section-2 h5 {
    color: #96a0b5;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 1rem;
    text-align: right;
}

.serv-section-2:hover .serv-section-2-icon i {
    color: #fff;
}

.serv-section-2:hover:before {
    background: #327d6f;
}
.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #327d6f;
    border-radius: 25%;
    margin-top: 2rem;
    margin-bottom: 5px;
}