.services {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #223b40;
}
.serv-section-2 {
    position: relative;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 50px;
}

.serv-section-2:before {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 0;
    content: " ";
    width: 120px;
    height: 120px;
    background: #f5f7fa;
    border-bottom-right-radius: 136px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.serv-section-2-icon {
    position: absolute;
    top: 18px;
    left: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.serv-section-2-icon .iconS {
    color: #223b40;
    font-size: 48px;
    line-height: 65px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.serv-section-desc {
    position: relative;
}

.serv-section-2 h4 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Tajawal", sans-serif;
    text-align: right;

}

.serv-section-2 h5 {
    font-size: 18px;
    line-height: 1.7;
    color: #555555;
    font-weight: 300;
    text-align: right;
    margin-top: 10px;
}

.serv-section-2:hover .serv-section-2-icon .iconS {
    color: #fff;
}

.serv-section-2:hover:before {
    background: #327d6f;
}
.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #327d6f;
    border-radius: 25%;
    margin-top: 2rem;
    margin-bottom: 5px;
}