/* ====== CUSTOM FONTS =======*/
@font-face {
    font-family: Cairo;
    src: url('/public/fonts/Cairo/Cairo-Black.ttf')
    
}
/* ====== CUSTOM FONTS =======*/
h1 {
    font-family: Cairo;
    color: aquamarine;
}