@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 10px;
}
body {
  font-family: "Cairo", sans-serif;
  /*  font-family: "Cairo Play", sans-serif;*/
}